@import url(default_table.css);

body {
    font-family:Trebuchet MS;
    color:white;
    background-color:black;
	font-size:10px;
}

#title {
  font-size:22px;
  padding:0px;
  margin:0px;
  text-shadow: white 0.1em 0.1em 0.2em;
  color:white;
}

#artist {
  font-size:18px;
  padding:0px;
  margin:0px;
  text-shadow: white 0.1em 0.1em 0.2em;
  color:white;
}

#album {
  font-size:16px;
  padding:0px;
  margin:0px;
}

#art {
  max-width:128px;
  max-height:128px;

}

#playerCanvas {
   width:100%;
   position:relative;
   min-height:300px;
}

#playlist {
  font-size:11px;

}

#playlistContent {
  width:480px;
  color:black;
}

#playlistContent   thead th {
  color:white;

}

#playlistContent tr td {
  font-size:11px;
  white-space:nowrap;
  overflow:hidden;
  padding-left:5px;

}

.dataTables_paginate  a  {
  
  text-shadow:  -1px 0 lightgray, 0 1px lightgray,
	  1px 0 lightgray, 0 -1px lightgray;
}


div.plButton {
    color:transparent;
    background-image:transparent;
    width:22px;
	height:22px;
    cursor:pointer;
}

div.plButton:hover {
	opacity:0.75;

}

#toolbar {
  margin-bottom:5px;
  border:1px solid gray; 
  font-size:11px;
  background-color:#424242;
  color:white;
  border-radius:5px;
  padding:5px;
  margin-top:20px;	
  
}

#toolbar span {
  cursor:pointer;
  border-radius:5px;
  border:1px solid lightgray; 
  padding:2px;
  font-weight:bold;
}

#cNext:hover,#cPrev:hover,#cSettings:hover {
  opacity:0.75;

}

#settings {
	display:none;
	position:absolute;
	background-color:white;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	color:black;
	min-height:400px;
	padding:15px;

}

#subHeader {
	min-height:130px;

}