@import url(default_table.css);

body {
    /* font-family: sans-serif; */
    color:white;
    background-color:black;
	overflow:hidden;
    zoom: 1;
}

#title {
  font-size:xx-large;
  padding:0px;
  margin:0px;
  /*text-shadow: 2px 2px 2px black,-2px -2px -2px black;*/
  text-shadow: 0 0 3px black, 0 0 5px black;
  color:white;
}

#artist {
  font-size:xx-large;
  padding:0px;
  margin:0px;
  text-shadow: 0 0 3px black, 0 0 5px black;
  color:white;
}

#album {
  font-size:xx-large;
  padding:0px;
  margin:0px;
  text-shadow: 0 0 3px black, 0 0 5px black;
  color:white;
}

#art {
  max-width:128px;
  max-height:128px;

}

#playerCanvas {
   width:98%;
   position:relative;
   left:1%;
   
}

#playlist {
  font-size: large;

}

#playlistContent {
  width:480px;
  color:black;
}

#playlistContent   thead th {
  color:white;

}

#playlistContent tr td {
  font-size: large;
  white-space:nowrap;
  overflow:hidden;
  padding-left:5px;
}


#playlistContent_paginate a.paginate_enabled_previous  {
	color:white !important;

}

#playlistContent_paginate a.paginate_disabled_previous  {
	color:gray !important;

}
#playlistContent_paginate a.paginate_enabled_next  {
	color:white !important;

}
#playlistContent_paginate a.paginate_disabled_next  {
	color:gray !important;

}


div.plButton {
    color:transparent;
    background-image:transparent;
    width:48px;
    height:48px;
    cursor:pointer;
}

div.plButton:hover {
	opacity:0.75;

}

#toolbar {
  margin-bottom:5px;
  border:1px solid gray; 
  font-size:x-large;
  background-color:#424242;
  color:white;
  border-radius:5px;
  padding:5px;
  margin-top:0px;	
  
}

#toolbar span {
  cursor:pointer;
  border-radius:5px;
  border:1px solid lightgray; 
  padding:2px;
  font-weight:bold;
}

#cNext:hover,#cPrev:hover,#cSettings:hover {
  opacity:0.75;

}

#settings {
	display:none;
	position:absolute;
	background-color:lightgray;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	color:black;
	min-height:400px;
	padding:15px;
        font-size:x-large;

}

#settings *{
	font-size:xx-large;

}

#settings input[type=checkbox],#settings input{
	border:1px solid black;
	background-color:gray;

}

#settings input[type=checkbox] {
    height: 3%;
    width: 3%;
}

#settings #versionLabel {
	font-size:medium;
	top: 0px;
	right: 50px;
	position: absolute;
	z-index: 1;
	color: black;
}

#subHeader {
	min-height:130px;

}


#showCanvas {
	min-height:300px;
	min-width:300px;
	display: block;
	position: absolute;
	top: 0px;
	lefT: 0px;
	z-index: -2;
	overflow:hidden;
	width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
        height:100%;
}
#showCanvasImg {
	overflow:hidden;
        position: fixed;
        top: 0px;
        left: 0px;
}
#playlistselect {
	position: absolute;
	right: 10px;
	top: 145px;
	background-color: white;
	color: gray;
	border-radius: 5px;
}

#fullScreenButton {
	position:absolute;
	top:0px;
	right:0px;
	color:white;
	cursor:pointer;
	z-index:2;
}

html:-moz-full-screen {
    background: black;
}
 
html:-webkit-full-screen {
    background: black;
}
 
html:fullscreen {
    background: black;
}

#cLike {
	background-image:url(../img/like.png);
	background-position:center left;
	background-repeat: no-repeat;
	
	margin: 0px;
	padding: 0px;
	bottom: 0px;
}

#lyricsCanvas {
    position: absolute;
    top: 10px;
    padding: 10px;
    right: 10px;
    font-family: monospace;
    font-size: medium;
    z-index: 5;
    font-weight: normal;
    opacity: 0.9;
    background-color: black;
    color: white;
    border-radius: 15px;
    overflow-y: scroll;
    width: 400px;
    word-wrap: break-word;
    display: none;
    height: 75%;
}

::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: transparent;
    }
::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	height:90%
}
::-webkit-scrollbar-corner {
    background: white;
}
