@import url(default_table.css);
@import url(fonts.css);

body {
    /* font-family: sans-serif; */
    color:white;
    background-color:black;
	overflow:hidden;
    zoom: 1;
}

#title {
  font-size:xx-large;
  padding:0px;
  margin:0px;
  /*text-shadow: 2px 2px 2px black,-2px -2px -2px black;*/
  text-shadow: 0 0 3px black, 0 0 5px black;
  color:white;
  font-family: Montserrat;
}

#artist {
  font-size:xx-large;
  padding:0px;
  margin:0px;
  text-shadow: 0 0 3px black, 0 0 5px black;
  color:white;
  font-family: Montserrat;
}

#album {
  font-size:xx-large;
  padding:0px;
  margin:0px;
  text-shadow: 0 0 3px black, 0 0 5px black;
  color:white;
  font-family: Montserrat;
}

#nextTitle{
  font-size: small;
  padding:0px;
  margin:0px;
  text-shadow: 0 0 3px black, 0 0 5px black;
  color:white;
  font-family: Montserrat;
  /* font-style: italic; */
  margin-top: 20px;
  right: 0px;
  /* text-align: right; */
}

#art {
  max-width:128px;
  max-height:128px;

}

#playerCanvas {
   width: 98%;
   position:relative;
   left:1%;
}

#playlist {
  font-size: large;

}

#playlistContent {
  width:480px;
  color:black;
  font-family: Montserrat;
}

#playlistContent   thead th {
  color:white;

}

#playlistContent tr td {
  font-size: large;
  white-space:nowrap;
  overflow:hidden;
  padding-left:5px;
}


#playlistContent_paginate a.paginate_enabled_previous  {
	color:white !important;

}

#playlistContent_paginate a.paginate_disabled_previous  {
	color:gray !important;

}
#playlistContent_paginate a.paginate_enabled_next  {
	color:white !important;

}
#playlistContent_paginate a.paginate_disabled_next  {
	color:gray !important;

}


div.plButton {
    color:transparent;
    background-image:transparent;
    width:48px;
    height:48px;
    cursor:pointer;
}

div.plButton:hover {
	opacity:0.75;

}

#toolbar {
  margin-bottom:5px;
  border:1px solid gray; 
  font-size:x-large;
  background-color:#424242;
  color:white;
  border-radius:5px;
  padding:5px;
  margin-top:0px;	
  
}

#toolbar span {
  cursor:pointer;
  border-radius:5px;
  padding:2px;
  font-family: Montserrat;
  display: inline-block;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  color: transparent;
  min-width: 48px;
}

#cNext:hover,#cPrev:hover,#cSettings:hover {
  opacity:0.75;

}
#cPrev {
	background-image: url(../img/prev256.png);
}
#cNext {
	background-image: url(../img/next256.png);
}
#cRandomPl {
	background-image: url(../img/random256.png);
}
#cSettings {
	background-image: url(../img/settings256.png);
}
#cReload {
	background-image: url(../img/reload256.png);
}
#cLike {
	background-image: url(../img/share256.png);
}
#cShow {
	background-image: url(../img/show256.png);
}
#cLyrics {
	background-image: url(../img/lyrics256.png);
}
#cInfo {
	background-image: url(../img/info256.png);
}
#cLastFM {
	background-image: url(../img/as256.png);
}

#settings {
	display:none;
	position:absolute;
	background-color:lightgray;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	color:black;
	min-height:400px;
	padding:15px;
	font-size:x-large;
	font-family: Montserrat;
}

#settings *{
	font-size:xx-large;

}

#settings input[type=checkbox],#settings input{
	border:1px solid black;
	background-color:gray;

}

#settings input[type=checkbox] {
    height: 3%;
    width: 3%;
}

#settings #versionLabel {
	font-size:medium;
	top: 0px;
	right: 50px;
	position: absolute;
	z-index: 1;
	color: black;
}

#subHeader {
	min-height:130px;
	/* background-color: black; */
	/* width: 100%; */
}


#showCanvas {
	min-height:300px;
	min-width:300px;
	display: block;
	position: absolute;
	top: 0px;
	lefT: 0px;
	z-index: -2;
	overflow:hidden;
	width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
        height:100%;
}
#showCanvasImg {
	overflow:hidden;
        position: fixed;
        top: 0px;
        left: 0px;
}
#playlistselect {
	position: absolute;
	right: 10px;
	top: 145px;
	background-color: white;
	color: gray;
	border-radius: 5px;
}

#fullScreenButton {
	position:absolute;
	top:0px;
	right:0px;
	color:white;
	cursor:pointer;
	z-index:2;
}

html:-moz-full-screen {
    background: black;
}
 
html:-webkit-full-screen {
    background: black;
}
 
html:fullscreen {
    background: black;
}





::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: transparent;
    }
::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	height:90%
}
::-webkit-scrollbar-corner {
    background: white;
}

#infoCanvas {
    background-color: black;
    position: absolute;
    top: 10px;
    padding: 2%;
    left: 1%;
    font-size: small;
    z-index: 15;
    /* font-weight: 100; */
    opacity: 0.8;
    color: rgba(255,255,255,255);
    border-radius: 9px;
    overflow-y: scroll;
    width: 45%;
    word-wrap: break-word;
    display: none;
    height: 60%;
    font-family: Montserrat;
    border:2px solid gray;
    box-shadow:10px 10px 10px black;
    font-size: 14px;
    text-align: justify;
}

#lyricsCanvas {
    position: absolute;
    top: 10px;
    padding: 2%;
    right: 1%;
    font-family: Montserrat;
    z-index: 5;
    opacity: 0.9;
    background-color: black;
    border-radius: 15px;
    overflow-y: scroll;
    width: 400px;
    word-wrap: break-word;
    display: none;
    height: 60%;
    border:2px solid gray;
    box-shadow:10px 10px 10px black;
    color: rgba(255,255,255,255);
	text-shadow:1px 1px 1px rgba(0,0,255,255);
	font-size:medium;
}

#lyricsCanvas * {

}

#infoCanvasReal * {
	 color: rgba(255,255,255,255);
	 text-shadow:1px 1px 1px rgba(0,0,255,255);
}
#infoCanvasImg {
	width:50%;
	float:lefT;
	margin:5px;
}

#infoCanvas li a {
	color:white;
	text-decoration:none;
	text-shadow:0 0 10px blue;
	font-size: small;
}

#webviewer {
	/* display:none; */
	position: absolute;
	top: 0px;
	width: 99%;
	height: 99%;
	z-index: 10000;
	border:1% solid gray;
}

#webwindow {
	width: 100%;
	height: 100%;
}

#myCanvas {
    /* z-index: 10; */
    position: absolute;
    bottom: 9%;
    right: 0px;
    height: 30%;
    /* width: 100%; */
}
#tags a {
	color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white;
    
}